input {
    background: var(--color-background-alt);
    appearance: none;
    color: var(--color-text);
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
}