table.properties {
    font-size: 0.8em;
    /* opacity: 0.5; */
    margin: 20px 0px;
    margin-bottom: 50px;
}
table.properties
{
    /* width: fit-content; */
}
table.properties > tbody > tr > td:first-child
{
    opacity: 0.3;
}