:root {
    --article-padding: 75px;
    --modal-width: 650px;
    --article-width: 500px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: var(--line-height);
}

