:root {
    --article-padding: 75px;
    --modal-width: 650px;
    --color-text: white;
    /* --article-width: 400px; */
}

* { box-sizing: border-box;}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

section:has(article) {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

article {
    font-size: 0.75em;
    padding: var(--article-padding);
    width: var(--article-width);

    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    overflow-y: auto;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: var(--line-height);
}


a {
    color: var(--color-accent)
}

a:hover {
    background-color: var(--color-accent-ghost);
}


img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    /* box-shadow: 0px 0px 25px #00000099; */
}






::marker {
    color: var(--color-text-ghost)
}




table.properties {
    font-size: 0.8em;
    /* opacity: 0.5; */
    margin: 20px 0px;
    margin-bottom: 50px;
}
table.properties
{
    /* width: fit-content; */
}
table.properties > tbody > tr > td:first-child
{
    opacity: 0.3;
}


/* stylize a pseudo backdrop */
body:has(.modal)::before 
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    
}



input {
    background: transparent;
    outline: 0;
    border: 0;
    /* outline: 1px solid var(--color-text-ghost); */
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
}

div.modal {
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    /* align-items: baseline; */
    width: var(--modal-width);
    background: var(--color-background);
    /* height: 200px; */
    /* max-height: 200px; */
    /* overflow-y: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-results
{
    padding: 5px;
    font-size: 0.8em;
    max-height: 100px;
    overflow-y: auto;
}




table {
    /* table-layout: fixed; */
    /* width: 100%; */
    border-spacing: 0px;
}
td:has(.tag) {

    /* max-width: 200px;
    overflow-x: auto; */
    word-break: break-all;
    white-space: nowrap;
}
td::-webkit-scrollbar {
    height: 5px;
}

.tag
{
    background-color: color-mix(in srgb, var(--color-accent) 10%, transparent);
    padding: 3px;
    padding-inline: 10px;
    border-radius: 25px;
    text-transform: lowercase;
    margin: 1px;
    font-size: 0.8em;
}
.tag::after {
    display: none;
}

.tag:hover {
    text-decoration: none;
    background-color: color-mix(in srgb, var(--color-accent) 30%, transparent);
}
div.modal:has(table) table tr:nth-child(2n+1)
{
    background-color: color-mix(in srgb, var(--color-background-alt) 25%, transparent);
}
/* div modal with table */
div.modal:has(table) 
{
    --modal-width: 75%;
    max-height: 400px;
    overflow-y: unset;
}
div.modal:has(table) table
{
    display: block;
    overflow-y: auto;
}
div.modal td, 
div.modal th
{
    font-size: 0.7em;
    font-weight: normal;
}

div.modal th
{
    cursor: pointer;
}

div.modal thead
{
    text-align: left;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
}
div.modal:has(table)  input[type='text']
{
    margin-bottom: 25px;
}


input,
label,
button {
    font-family: var(--font-family);

}

label,
button {

    cursor: pointer;
    appearance: none;
    border: none;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    font-size: 0.8em;
    color: var(--color-text);
    background: transparent;

}



label:hover,
button:hover {
    background: var(--color-background-alt);
}

.command {
    text-align: left;
}

/* stylize all text content inside a button */
button>p {
    margin: 0;
    opacity: 0.3;
    font-size: 0.75em;
}

button:focus {
    background-color: var(--color-accent-ghost);
    outline: 2px solid var(--color-accent-muted);
}






/* sidebar */

button.toggle {
    z-index: 9;
    position: fixed;
    top: 5px;
    left: 5px;
}

button.toggle::before {
    content: " ";
    display: inline-block;
    height: 1em;
    width: 1em;

    background-color: white;
    -webkit-mask-size: contain;
    vertical-align: middle;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBhbmVsLWxlZnQtY2xvc2UtaWNvbiBsdWNpZGUtcGFuZWwtbGVmdC1jbG9zZSI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiB4PSIzIiB5PSIzIiByeD0iMiIvPjxwYXRoIGQ9Ik05IDN2MTgiLz48cGF0aCBkPSJtMTYgMTUtMy0zIDMtMyIvPjwvc3ZnPg==');
}

/* style the button only when the sidebar is open */
body:has(aside:not(.is-hidden)) button.toggle {
    background-color: var(--color-accent);
}

aside a {
    width: 100%;
    display: block;
}

aside ul {
    list-style: decimal;
    list-style: none;
    padding: 0px;
}


aside a:not(.active-link)
{
    opacity: 0.3;    
}




.is-hidden {
    display: none;
}


aside {
    padding: 25px;
    /* line-height: 2; */
    font-size: 0.6em;
    text-transform: capitalize;

    max-height: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;


    min-width: 150px;
    max-width: fit-content;
    overflow-x: auto;

    /* background-color: var(--color-background-alt); */
    /* border-right: 1px solid var(--color-background-alt); */

    /* display: flex;
    flex-direction: column; */
}





article  *:hover
{
    outline: 2px solid var(--color-accent);
    /* outline-offset: 3px; */
}

[contenteditable]:focus {
    outline: none;
    background-color: var(--color-accent-ghost);
}



input {
    background: var(--color-background-alt);
    appearance: none;
    border: none;
    color: var(--color-text)
}




h1:has(br:only-of-type)::before,
h1:empty::before,
[contenteditable]:empty::before,
[contenteditable]:has(br)::before
{
    display: inline-block;
    position: absolute;
    /* left: 0;
    top: 0; */
    opacity: 0.1;
    pointer-events: none;
}
[contenteditable]:empty::before,
[contenteditable]:has(>br)::before
{
    content: "Line"
}
h1[contenteditable]:has(br:only-of-type)::before,
h1[contenteditable]:empty::before
{
    content: "Title"
}

h1:has(br)::after {
    display: none;
}







aside > nav
{
    width: 100%;
    background-color: var(--color-background);
    /* padding: 5px; */
    font-size: 0.8em;
    position: sticky;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.title
{
    margin: 0;
}






.title,
.content
.properties
{
    position: relative;
}
.title::before,
.content::before,
.properties::before
{
    display: block;
    opacity: 0.3;
    color: var(--color-text-ghost);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.title::before {
    content: "Title";
}
.content::before {
    content: "Content";
}
.properties::before {
    content: "Properties";
}

